@charset "utf-8";

.balloon1 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 50%;
    color: #555;
    font-size: 16px;
    background: #66CCFF;
  }
  
  .balloon1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #66CCFF;
  }
  
  .balloon1 p {
    margin: 0;
    padding: 0;
  }

  .balloon2 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 50%;
    color: #555;
    font-size: 16px;
    background: #FFCCFF;
  }
  
  .balloon2:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #FFCCFF;
  }
  
  .balloon2 p {
    margin: 0;
    padding: 0;
  }

.photo{
    text-align: center;
    margin: 100px; 
}